
body {
    font-family: cursive;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 800px;
}

h2 {
    margin-bottom: 20px;
}

#taskDeadlines{
margin: 1px;
}





body {
    background: linear-gradient(to top left, #ff7e5f, #ff6b81, #feb47b, #ffcc70, #ffe29f, #ffefd5);
    color: #000000;
}

header {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
}

section {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
}

ul li a {
    color: #ff6b81;
}

.nav_container ul {
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.nav_container ul li {
    margin: 0 10px;
}

.nav_container ul li a {
    text-decoration: none;
    color: #ff6b81;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(24, 24, 28, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav_container ul li a:hover {
    background-color: #ff6b81;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(24, 24, 28, 0.2);
}



@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }

    .nav_container ul {
        flex-direction: column;
    }

    .nav_container ul {
        margin: 10px 0;
    }
    
    li{
        margin-top: 100px;
    }
    .card_container {
        max-width: 90%;
        margin: 10px auto;
    }

}

@media (max-width: 480px) {
    #hello {
        font-size: 1.5em;
    }

    .nav_container ul li a {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
    }

}


