
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top left, #ff7e5f, #ff6b81, #feb47b, #ffcc70, #ffe29f, #ffefd5);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: cursive;
    font-weight: bold;
}

header, main, footer {
    padding: 20px;
}

.po-header {
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

.po-header .po-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.po-logo img {
    height: 50px;
    margin-right: 10px;
}

.po-logo h1 {
    display: inline-block;
    vertical-align: middle;
}

#landingTitle{
    font-size: 50px;;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#featureTitle{
    font-size: 30px;
    text-decoration: underline ;
}

.po-nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 10px;
    justify-content: center;
}

.po-nav ul li {
    margin: 0 10px;
}

.po-nav ul li a {
    text-decoration: none;
    color: #ff6b81;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(24, 24, 28, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.po-nav ul li a:hover {
    background-color: #ff6b81;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(24, 24, 28, 0.2);
}

.po-hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    /* padding: 100px 20px; */
}

.po-hero .po-container {
    max-width: 1200px;
    margin: 0 auto;
}

.po-hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.po-hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.po-cta-button {
    background-color: #ff6b81;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(24, 24, 28, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.po-cta-button:hover {
    background-color: #ff7e5f;
    box-shadow: 0 5px 15px rgba(24, 24, 28, 0.2);
}

.po-features, .po-about, .po-contact {
    padding: 60px 20px;
    text-align: center;
}

.po-features .po-container, .po-about .po-container, .po-contact .po-container {
    max-width: 1200px;
    margin: 0 auto;
}

.po-features .po-feature {
    margin-bottom: 20px;
}

.po-features .po-feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.po-footer {
    background-color: #f2f2f2;
    box-shadow: 0 -10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    margin-top: auto;
}

.po-footer .po-container {
    max-width: 1200px;
    margin: 0 auto;
}


.nav_container ul {
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.nav_container ul li {
    margin: 0 10px;
}

.nav_container ul li a {
    text-decoration: none;
    color: #ff6b81;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(24, 24, 28, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav_container ul li a:hover {
    background-color: #ff6b81;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(24, 24, 28, 0.2);
}

/* ---------------media query-------------------- */
@media (max-width: 1115px) {
    @media (max-width: 1115px) {
        header, main, footer {
            padding: 10px;
        }
        .nav_container ul  {
            flex-direction: row;
          
        }
       
    
        .nav_container li ul{
            width: 100%;
            text-align: center;
            margin: 5px 0;
        }
    } 
     
    @media (max-width: 768px) {
        header, main, footer {
            padding: 10px;
        }
    
        .nav_container ul {
            flex-direction: column;
        }
    
        .nav_container ul {
            margin: 10px 0;
        }
        
        li{
            margin-top: 100px;
        }
        .card_container {
            max-width: 90%;
            margin: 10px auto;
        }
    
        form {
            max-width: 90%;
            margin: 10px auto;
        }

        table, thead, tbody, th, td, tr {
            display: block;
        }
    
        thead tr {
            display: none;
        }
    
        td {
            position: relative;
            padding-left: 50%;
            text-align: left;
        }
    
        td:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 10px;
            font-weight: bold;
        }
    
        tr {
            margin-bottom: 15px;
        }
    }
    
    @media (max-width: 480px) {
        #hello {
            font-size: 1.5em;
        }
    
        .nav_container ul li a {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
        }
    
        th, td {
            font-size: 14px;
            padding: 10px;
        }
    }
}
