


 
body {
    background: linear-gradient(to top left, #ff7e5f, #ff6b81, #feb47b, #ffcc70, #ffe29f, #ffefd5);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: cursive;
    font-weight: bold;
}

header, main, footer {
    padding: 20px;
}

header {


    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    margin: 20px;
    text-align: center;
} 

footer {
    background-color: #f2f2f2;
    box-shadow: 0 -10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    margin-top: auto;
}



.nav_container ul {
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.nav_container ul li {
    margin: 0 10px;
}

.nav_container ul li a {
    text-decoration: none;
    color: #ff6b81;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(24, 24, 28, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav_container ul li a:hover {
    background-color: #ff6b81;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(24, 24, 28, 0.2);
}

.card_container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #ff6b81;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

td {
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

tr:hover td {
    background-color: #ffcc70;
}

a {
    text-decoration: none;
    color: #ff6b81;
}

a:hover {
    text-decoration: underline;
}

.edit-btn {
    text-decoration: none;
    color: white;
    background-color: #ff6b81;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(24, 24, 28, 0.1);
    transition: background-color 0.1s ease, box-shadow 05.s ease;
}

.edit-btn:hover {
    background-color: #ff7e5f;
    box-shadow: 0 5px 15px rgba(24, 24, 28, 0.2);
}

#hello {
    margin-bottom: 10px;
    font-size: 35px;
}



/* -------------form css ---------------------------------- */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
}

form h1 {
    margin-bottom: 20px;
    color: #ff6b81;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form select,
form textarea

{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89); */
}

form button {
    background-color: #ff6b81;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
}

form button:hover {
    background-color: #ff7e5f;
}


form input[type="checkbox"] {
    appearance: none;
    width: 20px; 
    height: 20px; 
    border: 2px solid #ff6b81; 
    border-radius: 3px; 
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

form input[type="checkbox"]:checked {
    background-color: #ff6b81; 
    border-color: #ff6b81; 
}

form input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; 
    height: 5px;
    border: solid white; 
    border-width: 0 2px 2px 0; 
    transform: translate(-50%, -50%) rotate(45deg);
}


#delete{
    background-color: #ff6b81;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
} 




/* ======================= animation section =============================================== */


.confetti-piece {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(235, 15, 125);
    opacity: 0.7;
    border-radius: 50%;
    animation: fall linear;
    animation-duration: 200ms;
}
@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}








/* ================================media query================================= */
 @media (max-width: 1115px) {
    @media (max-width: 1115px) {
        header, main, footer {
            padding: 10px;
        }
        .nav_container ul  {
            flex-direction: row;
          
        }
       
    
        .nav_container li ul{
            width: 100%;
            text-align: center;
            margin: 5px 0;
        }
    } 
     
    @media (max-width: 768px) {
        header, main, footer {
            padding: 10px;
        }
    
        .nav_container ul {
            flex-direction: column;
        }
    
        .nav_container ul {
            margin: 10px 0;
        }
        
        li{
            margin-top: 100px;
        }
        .card_container {
            max-width: 90%;
            margin: 10px auto;
        }
    
        form {
            max-width: 90%;
            margin: 10px auto;
        }

        table, thead, tbody, th, td, tr {
            display: block;
        }
    
        thead tr {
            display: none;
        }
    
        td {
            position: relative;
            padding-left: 50%;
            text-align: left;
        }
    
        td:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 10px;
            font-weight: bold;
        }
    
        tr {
            margin-bottom: 15px;
        }
    }
    
    @media (max-width: 480px) {
        #hello {
            font-size: 1.5em;
        }
    
        .nav_container ul li a {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
        }
    
        th, td {
            font-size: 14px;
            padding: 10px;
        }
    }
}


.po-logo-signup{
    float: left;
}

.po-header {
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(24, 24, 28, 0.89);
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

.po-header .po-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.po-logo img {
    height: 50px;
    margin-right: 10px;
    float:left;
}

.po-logo h1 {
    display: inline-block;
    vertical-align: middle;
}
