<!-- {% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Organizing App</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    
</head>
<body>
    <header class="po-header">
        <div class="po-container">
            <div class="po-logo">
                
                <h1 id="landingTitle">The Simple Project Organizer</h1>
            </div>
            <nav class="po-nav">
                <ul>
                    <li><a href="#po-features">Features</a></li>
                    <li><a href="#po-about">About</a></li>
                    <li><a href="mailto:lesliejames23@outlook.com">Contact</a></li>
                    
                   
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="po-hero">
            <div class="po-container">
                <h2>Organize Your Projects Efficiently</h2>
                <p>Streamline your project management with our easy-to-use app.</p>
                <a href="{% url 'signup' %}" class="po-cta-button">Get Started</a>
            </div>
        </section>

        <section id="po-features" class="po-features">
            <div class="po-container">
                <h1 id="featureTitle">Features</h1>
                <div class="po-feature">
                    <h3>Task Management</h3>
                    <p>Easily manage tasks and deadlines.</p>
                </div>
                <div class="po-feature">
                    <h3>Team Collaboration</h3>
                    <p>Collaborate with your team effectively.</p>
                </div>
                <div class="po-feature">
                    <h2>**COMING SOON**</h2>
                    <h3>Progress Tracking</h3>
                    <p>Track the progress of your projects.</p>
                </div>
            </div>
        </section>

        <section id="po-about" class="po-about">
            <div class="po-container">
                <h2>About Us</h2>
                <p>Our Project Organizing App is designed to help you manage your projects efficiently. We believe in simplicity and productivity.</p>
            </div>
        </section>

    </main>

    <footer class="po-footer">
        <div class="po-container">
            <p>&copy; 2024 The Simple Project Organizer. All rights reserved.</p>
        </div>
    </footer>
</body>
</html> -->

<!-- ------------------------------------------------- -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Organizing App</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
    <header class="po-header">
        <div class="po-container">
            <div class="po-logo">
                <h1 id="landingTitle">The Simple Project Organizer</h1>
            </div>
            <nav class="nav_container">
                <ul>
                    <li><a href="#po-features">Features</a></li>
                    <br>
                    <li><a href="#po-about">About</a></li>
                    <br>
                    <li><a href="mailto:lesliejames23@outlook.com">Contact</a></li>
                    <br>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="po-hero">
            <div class="po-container">
                <h2>Organize Your Projects Efficiently</h2>
                <p>Streamline your project management with our easy-to-use app.</p>
                <a href="{% url 'signup' %}" class="po-cta-button">Get Started</a>
            </div>
        </section>

        <section id="po-features" class="po-features">
            <div class="po-container">
                <h1 id="featureTitle">Features</h1>
                <div class="po-feature">
                    <h3>Task Management</h3>
                    <p>Easily manage tasks and deadlines.</p>
                </div>
                <div class="po-feature">
                    <h3>Team Collaboration</h3>
                    <p>Collaborate with your team effectively.</p>
                </div>
                <div class="po-feature">
                    
                    <h3>Progress Tracking</h3>
                    <p>Track the progress of your projects and tasks.</p>
                </div>
            </div>
        </section>

 
    </main>

    <footer class="po-footer">
        <div class="po-container">
            <p>&copy; 2024 The Simple Project Organizer. All rights reserved.Created By Leslie James</p>
        </div>
    </footer>
</body>
</html>
