{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>Sign Up</title>
</head>

<body>

    <header class="po-header">
        <div class="po-container">
            <div class="po-logo-signup">
                <h1 id="landingTitle">The Simple Project Organizer</h1>
            </div>
            <nav class="nav_container">
                <ul>
                  
                    <li><a href="{% url 'landing_page' %}">Home</a></li>
                    <br>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <div class="card_container">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>

</html>