{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>Create Task</title>
</head>

<body>
    <header>
        {% if user.is_authenticated %}
                <p id="hello">Hello, {{ user.username }}</p>
        {% endif %}
        <nav class='nav_container'>
           
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <br>
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <br>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <br>
                <li><a href="{% url 'create_project'%}">Create new project</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <br>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Home</a></li>

                {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        <div class="card_container">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>