{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>My Tasks</title>
</head>

<body>
    <header>
        {% if user.is_authenticated %}
        <h1 id="hello">Hello, {{ user.username }}</h1>
        {% endif %}
        <nav class='nav_container'>

            <ul>
                {% if user.is_authenticated %}

                <!-- <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li> -->

                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <br>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <br>
                <li><a href="{% url 'create_project' %}">Create new project</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <br>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Home</a></li>


                {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        <div class="card_container">

            <h1>Tasks</h1>
          
            {% if show_my_tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Project Name</th>
                        <th>Assignee</th>
                        <th>Start Date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in show_my_tasks %}
                    <tr>
                        <td data-label="Name">{{ task.name }}</td>
                        <td data-label="Project Name">{{ task.project }}</td>
                        <td data-label="Assignee">{{ task.assignee }}</td>
                        <td data-label="Start Date">{{ task.start_date }}</td>
                        <td data-label="Due date">{{ task.due_date }}</td>
                        <td data-label="Is completed">{{ task.is_completed|yesno:"yes,no" }}</td>
                        <td data-label="Edit"><a href="{% url 'edit_task' task.id %}"><button
                                    class="edit-btn">Edit</button></a></td>



                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have no tasks</p>
            {% endif %}
        </div>

    </main>
</body>

</html>