{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project & Task Management Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <h1>Project & Task Management Dashboard</h1>
        <nav class='nav_container'>

            <ul>


                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <br>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <br>
                <li><a href="{% url 'create_project' %}">Create new project</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Logout</a></li>


            </ul>
        </nav>


    </header>
    <main>
        <section>
            <h2>Tasks Completed (chart.js)</h2>
            <canvas id="completedTasksChart"></canvas>
        
        </section>
            <section>
                <h2>Tasks Completed (plotly) </h2>
                {{ chart|safe }}
            </section>
        <section>
            <h2>Project Status</h2>
            <p>Total Projects: {{ total_projects }}</p>
            <p>Completed Projects: {{ completed_projects }}</p>
            <p>Ongoing Projects: {{ ongoing_projects }}</p>
        </section>
        <section>
            <h2>Upcoming Deadlines</h2>
            <ul>
                {% for task in upcoming_tasks %}
                <li id="taskDeadlines">{{ task.name }} (Due: {{ task.due_date }})</li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            const completedTasksData = {
                labels: [
                    {% for entry in completed_tasks %}
            "{{ entry.date }}",
                {% endfor %}
                ],
            datasets: [{
                label: 'Completed Tasks',
                data: [
                    {% for entry in completed_tasks %}
                            {{ entry.count }},
            {% endfor %}
        ],
            backgroundColor: '#ff6b81',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
                }]
            };



        const config = {
            type: 'bar',
            data: completedTasksData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }

                }
            }
        };


        const completedTasksChart = new Chart(
            document.getElementById('completedTasksChart'),
            config
        );
        });
    </script>
</body>

</html>