{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>Edit Project</title>
</head>

<body>
    <header>
        {% if user.is_authenticated %}
        <p id="hello">Hello, {{ user.username }}</p>
        {% endif %}
        <nav class='nav_container'>

            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <br>
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <br>
                <li><a href="{% url 'create_task' project.id %}">Create new task</a></li>
                <br>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <br>
                <li><a href="{% url 'create_project' %}">Create new project</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <br>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Home</a></li>

                {% endif %}

            </ul>
        </nav>
    </header>

    <main>
        <div class="card_container">
            <h1>Edit Poject</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="confettiButton">Save</button>

            </form>

        </div>
        <div id="confetti-container">
            {% for i in confetti_range %}

            <div class="confetti"></div>
            {% endfor %}

        </div>
    </main>
    <script>

        const createConfettiPiece = () => {

            // create a new div element called confetti
            const confetti = document.createElement('div');

            // I am just adding a class name to my cofetti and calling it confetti-piece
            confetti.classList.add('confetti-piece');

            // this is adding the div to my page
            document.body.appendChild(confetti);

            // i want the confetti to appear at random positions on the page so I need Math.random
            confetti.style.left = Math.random() * 100 + 'vw';

            // i need to start the confetti before the top of the page so that it looks like it is falling down into the monitor
            confetti.style.top = -10 + 'vh';

            // I want the confetti to disapear at random times to make it look real and not have the confetti all stop at the same spot on the page and at the same time
            confetti.style.animationDuration = (Math.random() * 3 + 2) + 's';

            // created an event listener so that i can have the confetti disapear when my animation times out
            confetti.addEventListener('animationEnd', () => {
                confetti.remove();
            });
        }

        const launchConfetti = () => {
            const confettiCount = 500;
            for (let i = 0; i < confettiCount; i++) {
                // the i * 20 is just so that the confetti looks like it is increasing. it gives it a delay that goes up in 20ms increments the 20ms looks more natural... 
                setTimeout(createConfettiPiece, i * 20);
            }
        }


        // window.addEventListener('load', launchConfetti);
        document.getElementById('confettiButton').addEventListener('click', launchConfetti);
    </script>

</body>

</html>