{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>My Projects</title>
</head>

<body>
    <header>
        {% if user.is_authenticated %}
                <p id="hello">Hello, {{ user.username }}</p>
        {% endif %}
        <nav class='nav_container'>
           
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <br>
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                
                <!-- <li><a href="{% url 'list_projects' %}">My projects</a></li> -->
                <br>
                <li><a href="{% url 'create_project' %}">Create new project</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <br>
                <li><a href="{% url 'signup' %}">Signup</a></li>

                {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        <div class="card_container">
            <h1>Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% if list_projects|length == 0 %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                        <th>Is Completed</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in list_projects %}
                    <tr>

                        <td data-label="Name"><a href="{% url 'show_project' item.id %}">{{ item.name }}</a></td>
                        <td data-label="Number of tasks">{{ item.tasks.count }}</td>
                        <td data-label="Is completed">{{ item.is_completed|yesno:"yes,no" }}</td>
                        <td data-label=""><a href="{% url 'edit_project' item.id  %}"><button class="edit-btn">Edit</button></a></td>
                        <td data-label=""><a href="{% url 'delete_project' item.id %}"><button class="edit-btn">Delete</button></a></td>
                    </tr>
                    {% endfor %}



                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>