{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>Show Project</title>
</head>

<body>
    <header>
        {% if user.is_authenticated %}
                <p id="hello">Hello, {{ user.username }}</p>
        {% endif %}
        <nav class='nav_container'>
           
            <ul>
                {% if user.is_authenticated %}
                
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <br>
                <li><a href="{% url 'create_task' list_projects.id %}">Create new task</a></li>
                <br>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <br>
                <li><a href="{% url 'create_project'%}">Create new project</a></li>
                <br>
                <li><a href="{% url 'landing_page' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <br>
                <li><a href="{% url 'signup' %}">Signup</a></li>

                {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        <div class="card_container">
            <h1>{{ list_projects.name }}</h1>
            <p>{{ list_projects.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' list_projects.id %}">Create a new task</a></p>
            {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Task Name</th>
                        
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th></th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks.all %}
                    <tr>
                        <td data-label="Name">{{ task.name}}</td>
                       
                        <td data-label="Start date">{{ task.start_date }}</td>
                        <td data-label="Due date">{{ task.due_date }}</td>
                        <td data-label="Is completed">{{ task.is_completed|yesno:"yes,no" }}</td>

                  
                        <td>
                         
                        </td>
                  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}


        </div>
    </main>
</body>

</html>